 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class = ""> <img src="https://img.icons8.com/color/96/000000/blender-3d.png"> </i>
      
      <i class=" "> <img src="https://img.icons8.com/ios-filled/100/000000/unity.png"> </i>
      

      <p>Blender, OSL, Unity, HTML</p>
    </div>

    <div class="tech">
      <h2>Code</h2>
      <i class=" "> <img src="https://img.icons8.com/color/96/000000/c-plus-plus-logo.png"> </i>
      <i class=" "> <img src="https://img.icons8.com/color/48/000000/python.png"> </i>
      
      <p>C++, Python, CUDA C, Lua, R</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      
      <i class="devicon-atom-original-wordmark"></i>
      <p>GIT, ATOM,OpenGL, Tensorflow, Pytorch, BGFX ,Flask</p>
    </div>
</div>
