 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class = ""> <img src="https://img.icons8.com/color/96/000000/blender-3d.png"> </i>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class=" "> <img src="https://img.icons8.com/ios-filled/100/000000/unity.png"> </i>
      

      <p>Blender, OSL, Unity</p>
    </div>

    <div class="tech">
      <h2>Code</h2>
      <i class=" "> <img src="https://img.icons8.com/color/96/000000/c-plus-plus-logo.png"> </i>
      <i class=" "> <img src="https://img.icons8.com/color/48/000000/python.png"> </i>
      <i class="devicon-nodejs-plain-wordmark"></i>
      <p>C++, Python, CUDA C</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class="devicon-gulp-plain colored"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>GIT, OpenGL, Tensorflow</p>
    </div>
</div>
