 <div class="user-details">
  <h1> About me </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Design</h2>
      <i class = ""> <img src="https://img.icons8.com/color/96/000000/blender-3d.png"> </i>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class=" "> <img src="https://img.icons8.com/ios-filled/100/000000/unity.png"> </i>
      <i class=""> <img src="https://github.com/imageworks/OpenShadingLanguage/blob/master/src/doc/Figures/osl-short.png"></i>
      

      <p>Blender, OSL, Unity, HTML</p>
    </div>

    <div class="tech">
      <h2>Code</h2>
      <i class=" "> <img src="https://img.icons8.com/color/96/000000/c-plus-plus-logo.png"> </i>
      <i class=" "> <img src="https://img.icons8.com/color/48/000000/python.png"> </i>
      <i class=" "> <img src="https://en.wikipedia.org/wiki/File:Nvidia_CUDA_Logo.jpg"></i>

      <p>C++, Python, CUDA C, Lua, R</p>
    </div>
    <div class="tech">
      <h2>Tools</h2>
      <i class="devicon-git-plain"></i>
      <i class=" "> <img src="https://www.google.com/search?q=pytorch&rlz=1C1SQJL_enIN805IN805&sxsrf=ACYBGNShQi0oQ5S3Ut_YBjjBIxdRmKzT1w:1573575513284&tbm=isch&source=iu&ictx=1&fir=iZnPPwMHDTJJkM%253A%252C2Nozy8jUC8IpBM%252C%252Fg%252F11gd3905v1&vet=1&usg=AI4_-kTpA7ClkppK_qIrd6qBpP3SQ146Nw&sa=X&ved=2ahUKEwjrhvzLieXlAhU88HMBHSWrB1YQ_B0wH3oECAUQAw#imgrc=iZnPPwMHDTJJkM:"></i>
      <i class="devicon-atom-original-wordmark"></i>
      <i class=" "> <img src="https://www.opengl.org/img/opengl_logo.jpg"></i>
      <p>GIT, ATOM, GLSL, OpenGL</p>
      <p>Tensorflow, Pytorch, BGFX ,Flask</p>
    </div>
</div>
