<div class="user-details">
  <h1> Featured Projects </h1>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/mountains2.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> O-Nect </h3>
   <!-- <ul>
      <li> Featured Skills</li>
    </ul>
  -->

    <p>O-Nect is an Open Source Interface for Game developers and Animators which uses deep learning (human pose estimation) to plot realtime co-ordinates similar to Xbox kinect but while using just a regular RGB camera.</p>
    <a class="project-link" href="https://github.com/O-Nect/O-Nect">Check it out</a>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="mountains" src="{{ "/assets/img/shadie.gif" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Shadie </h3>
    <!--<ul>
      <li> Featured Skills</li>
    </ul>
  -->

    <p>Shadie is a OpenGL playground for trying out different shaders. Imported the stanford model, and implemented various lighting models such as ambient, specular and diffuse lighting. Implemented toon and Phong shading algorithms using Vertex and Fragment Shaders. This Project uses glew(OpenGL 3.3 contect) and glfw (Window managment)..</p>
    
    <a class="project-link" href="https://github.com/lenixlobo/Shadie">Check it out</a>
  </div>
</div>


  <div class="user-projects">
  <div class="images-right">
    <img alt="mountains" src="{{ "/assets/img/TRACIE.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents">
    <h3> YAPT </h3>
   <!-- <ul>
      <li> Featured Skills</li>
    </ul>
  -->

    <p>YAPT: Yet Another Path tracer is a is a global illumination renderer built uaing C++ and renders physically based renderings using unbiased Monte Carlo path tracing.The image is computed by solving the rendering equation using numerical integration. This project is based on Peter Shirley's Ray Tracing books. </p>
    <a class="project-link" href="https://github.com/O-Nect/O-Nect">Check it out</a>
  </div>
</div>
</div>
